<div class="chat-header">
  <div class="header-left">
    <div class="header-title">
      新規チャット
    </div>
  </div>
  <div class="header-right">
    <div class="close-chat">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
      2020.09.30(Wed) 15:32:27
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
      2020.09.30(Wed) 15:32:27
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        こんにちは！
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="message-form">
    <input placeholder="type a message" class="form-message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="submit-btn">
</div>